<footer role="contentinfo" id="site-footer" style="background-color: #475676">
	<div class="footer limited-width">
	<div role="navigation" class="menu bottom-menu">
		<ul class="menu-item">
		{% for link in site.data.footer %}
      {% if link.url contains 'http' %}
        {% assign domain = '' %}
        {% else %}
        {% assign domain = site.url %}
      {% endif %}
			<li>
				<a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>
					<i class="icons fab fa-{{ link.title }}"></i>
				</a>
			</li>
		{% endfor %}
		</ul>
	</div><!-- /.bottom-menu -->
	<p class="copyright">CC-BY-NC-SA</p>
	<p class="footer__contact">contact@deck.desi</p>
</div>
</footer>
