<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}</title>
  {% if page.excerpt %}<meta name="description" content="{{ page.excerpt | strip_html }}">{% endif %}
  {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
  {% if page.author %}
    {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
  {% endif %}
  {% include open-graph.html %}

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">

  <link href="{{ site.url }}/atom.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Atom Feed">
  <link href="{{ site.url }}/sitemap.xml" type="application/xml" rel="sitemap" title="Sitemap">

  <!--Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">


  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="cleartype" content="on">

  <link rel="stylesheet" href="{{ site.url }}/css/main.css">
  <!-- HTML5 Shiv and Media Query Support for IE -->
  <!--[if lt IE 9]>
    <script src="{{ site.url }}/js/vendor/html5shiv.min.js"></script>
    <script src="{{ site.url }}/js/vendor/respond.min.js"></script>
  <![endif]-->

</head>
