<div id="nominate_form">
    <form action="https://docs.google.com/forms/d/e/1FAIpQLSfeHRXvbrUEqvwJjENL8u_fJQfC5nslMbtP9h83dysOsiyXyg/formResponse?embedded=true" method="post" target="no-target">
        <label>Name</label>
        <input name="entry.1919681697" type="text" required/>
        <label>Commments</label>
        <textarea name="entry.1720667846" type="text"></textarea>
        <label>Email ID</label>
        <input name="entry.977994425" type="text" />
        <input type="submit" value="Send">
    </form>
    <iframe src="#" id="no-target" name="no-target" style="visibility:hidden"></iframe>
</div>