<div id="nominate_form_element">
    <form onsubmit="return gformSubmit()" action="https://docs.google.com/forms/d/e/1FAIpQLSfeHRXvbrUEqvwJjENL8u_fJQfC5nslMbtP9h83dysOsiyXyg/formResponse?embedded=true" method="post" target="no-target" id="nominate_form">
        <input name="entry.1919681697" type="text" placeholder="Name" required/>
        <textarea name="entry.1720667846" type="text" placeholder="Comments"></textarea>
        <input name="entry.977994425" type="text" placeholder="Email ID"/>
        <input type="submit" value="Send" class="button" id="mc-embedded-subscribe">
    </form>
    <script>
        // GForm Submission
        function gformSubmit() {
            // Hide the div
            var element = document.getElementById("nominate_form");
            element.parentNode.removeChild(element);
            // Show success
            var p = document.getElementById("nominate_form_element");
            var newElement = document.createElement("p");
            newElement.innerHTML = "Thanks for your response.";
            p.appendChild(newElement);
        }
    </script>
</div>
