<div class="page-lead" style="background-color: #475676;">
  <!-- Indigo background -->
      <div class=" page-lead-content limited-width">
        <h1>{{site.title}}</h1>
        <h2>{{site.description}}</h2>
        {% include mailchimp-subscribe.html %}
        <!-- <a href="https://mmistakes.github.io/skinny-bones-jekyll/getting-started/" class="btn-inverse">Start Using Skinny Bones</a> &nbsp; or &nbsp; <a href="https://github.com/mmistakes/skinny-bones-jekyll" class="btn-inverse">View on GitHub</a> -->
      </div><!-- /.page-lead-content -->
    </div><!-- /.page-lead -->
