<div>
  {% assign content = site.data.page-panels | where: "panel", "panel-2" | first %}
  <div class="page-lead" style="background-color:{{content.panel-background}}; color: black;">
    <div class="page-panel-content limited-width">
      <h2>{{content.title}}</h2>
      <p>{{content.text}}</p>
    </div>
  </div>
</div>


<div>
  {% assign content = site.data.page-panels | where: "panel", "panel-3" | first %}
  <div class="page-lead" style="background-color:{{content.panel-background}}; ">
    <div class="page-panel-content limited-width">
      <h2>{{content.title}}</h2>
      <p>{{content.text}}<a href="{{content.url}}">{{content.url-text}}</a>.</p>
      {% include nominate-form.html %}
    </div>
  </div>
</div>


<!-- <div>
  {% assign content = site.data.page-panels | where: "panel", "panel-4" | first %}
  <div class="page-lead" style="background-color:{{content.panel-background}}; color: black;">
    <div class="page-lead-content">
      <h2>{{content.title}}</h2>
      <p>{{content.text}}</p>

    </div>
  </div>
</div> -->


<div>
  {% assign content = site.data.page-panels | where: "panel", "panel-5" | first %}
  <div class="page-lead" style="background-color:{{content.panel-background}};">
    <div class="page-panel-content limited-width">
      <h2>{{content.title}}</h2>
      <p>{{content.text}}</p>
      {% include mailchimp-subscribe.html %}
    </div>
  </div>
</div>
