#mc-embedded-subscribe {
    width: 100%;
    margin: 0 auto;
    border-radius: 3px !important;
    background-color: #f05b72;
    @include media($small) {
		width: 50%;
    }
    @include media($large) {
		width: 25%;
	}
}

#mc_embed_signup * {
    @include media($medium) {
        padding: 1em;
    }
    @include media($small) {
        padding: 0.5em;
    }
}

#nominate_form_element .button {
    background-color: #475676;
    @include media($small) {
        margin: $gutter*1.5 0;
    }
}

.icons {
    font-size: $button-size;
    color: white;
}