<!DOCTYPE html>
<html>
 {% include head.html %}

  <body id="js-body">
    {% include browser-upgrade.html %}
    {{ content }}
    {% include footer.html %}

    <script src="{{ site.url }}/js/vendor/jquery-1.9.1.min.js"></script>
    <script src="{{ site.url }}/js/main.js"></script>

  </body>

</html>
